* {
    padding: 0;
    margin: 0;
}

canvas {
    background: #eeeeee;
    padding: 0;
    margin: auto;
    display: block;
    width: 480px;
    height: 320px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#scoreboard {
    position: absolute;
    left: 10%;
    top: 50%;

    transform: translate(-50%, -50%);
}

.score {
    display: flex;

    text-transform: uppercase;
    color: black;
    font-family: "Bitcount Grid Single";
    border: black;
    border-radius: 2px;
    border-style: solid;
    width: 175px;
    top: 50%;
}

#runButton {
    display: flex;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#name {
    display: flex;
    margin: 0 auto;
    width: 50px;
    font-family: monospace;
    font-size: 24px;
    text-transform: uppercase;
}

#Win_Msg {
    padding: 0;
    margin: 0 auto;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 36px;
}

#test {
    color: red;
    text-transform: uppercase;
}